body {
    background: darkgreen;
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

h1 {
    text-align: center;
    font-style: italic;
    font-palette: light;
    font-size: 64px;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#player-cards {
    display: inline-block;
    line-break: auto;
    height: auto;
}

#dealer-cards {
    display: inline-block;
    line-break: auto;
    height: auto;
}

#game-outcome {
    padding: 10px;
    height: auto;
    font-size: 32px;
    text-align: center;
}

#buttons {
    display: inline-block;
    height: auto;
}

#card {
    background: white;
    width: 86px;
    height: 120px;
    border-radius: 5px;
}

#cardValueUpside {
    content: attr(value);
    position: absolute;
    width: 12px;
    text-align: center;
    letter-spacing: -2px;
    font-size: 14px;
}

#cardSymbol {
    font-size: 100px;
    text-align: center;
}

#cardValueUpsideDown {
    position: absolute;
    width: 160px;
    text-align: center;
    letter-spacing: -2px;
    font-size: 14px;
    height: 4px;
    transform: rotate(180deg)
}

h3 {
    font-size: 36px;
}

#dealer-field-cards-sum {
    font-size: 24px;
}

#player-field-cards-sum {
    font-size: 24px;
}

ul {
    list-style-type: none;
    line-break: strict;
}

li {
    margin: 3px;
    float: left;
}


.showedCard {
    display: inline-block;
    padding-top: 52px;
    padding-bottom: 52px;
    background: white;
    text-align: center;
    width: 126px;
    border-radius: 5px;
    font-size: 64px;
}

.closedCard {
    width: 126px;
    height: 178px;
    border-radius: 5px;
    position: relative;
    text-indent: -4000px;
    background-color: darkgrey;

}