body {
    background: darkgreen;
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

h1 {
    text-align: center;
    font-style: italic;
    font-palette: light;
    font-size: 64px;
}

button {
    width: 150px;
    height: 50px;
    box-shadow: 0 10px 14px -7px #3e7327;
    background: #77b55a linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
    border-radius:4px;
    border:1px solid #4b8f29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family: Arial, serif;
    font-size:16px;
    font-weight:bold;
    padding:6px 12px;
    text-decoration:none;
    text-shadow:0 1px 0 #5b8a3c;
}

button:hover {
    background: #72b352 linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
}

button:active {
    position:relative;
    top:1px;
}

#player-cards {
    display: inline-block;
    line-break: auto;
    height: auto;
}

#dealer-cards {
    display: inline-block;
    line-break: auto;
    height: auto;
}

#game-outcome {
    text-align: center;
    display: block;
    padding: 10px;
    height: auto;
    font-size: 32px;
}

#buttons {
    text-align: center;
    display: block;
}

#card {
    background: white;
    width: 86px;
    height: 120px;
    border-radius: 5px;
}

#cardValueUpside {
    content: attr(value);
    position: absolute;
    width: 12px;
    text-align: center;
    letter-spacing: -2px;
    font-size: 14px;
}

#cardSymbol {
    font-size: 100px;
    text-align: center;
}

#cardValueUpsideDown {
    position: absolute;
    width: 160px;
    text-align: center;
    letter-spacing: -2px;
    font-size: 14px;
    height: 4px;
    transform: rotate(180deg)
}

h3 {
    font-size: 36px;
}

#dealer-field-cards-sum {
    font-size: 24px;
}

#player-field-cards-sum {
    font-size: 24px;
}

ul {
    list-style-type: none;
    line-break: strict;
}

li {
    margin: 3px;
    float: left;
}

.showedCard {
    display: inline-block;
    padding-top: 52px;
    padding-bottom: 52px;
    background: white;
    text-align: center;
    width: 126px;
    border-radius: 5px;
    font-size: 64px;
}

.closedCard {
    width: 126px;
    height: 178px;
    border-radius: 5px;
    position: relative;
    text-indent: -4000px;
    background-color: darkgrey;

}